Repository petteriTeikari/music-attribution-scaffold: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, css-token-lint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^docs/figures/generated/'
      - id: check-merge-conflict
      - id: detect-private-key

  # uv lock check
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.21
    hooks:
      - id: uv-lock

  # Ruff - Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: false
        args: [src/]

  # Frontend CSS lint â€” catch broken Tailwind v4 patterns
  - repo: local
    hooks:
      - id: css-token-lint
        name: css-token-lint
        entry: scripts/css-token-lint.sh
        language: script
        files: '^frontend/src/.*\.tsx?$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: 'uv\.lock|\.cruft\.json'

chore: update plan v1.1 with reviewer convergence and TDD state (#67)
  state/tdd-state.json
Due: none

feat: xOps Tier 1 — pipeline DAG, prod Dockerfile, Prometheus metrics, Grafana dashboard, PRD v1.9.0 (#54)
  docker-compose.dev.yml
  docker/Dockerfile.prod
  docker/grafana/dashboards/attribution-overview.json
  docker/grafana/dashboards/dashboard.yml
  docker/grafana/datasources/prometheus.yml
  docker/prometheus.yml
  docs/planning/observability-reproducability-double-checks.md
  docs/planning/xops-tier1-plan.xml
  docs/prd/decisions/L4-deployment/cd-strategy.decision.yaml
  docs/prd/decisions/L4-deployment/iac-tooling.decision.yaml
  docs/prd/decisions/L4-deployment/orchestrator-choice.decision.yaml
  docs/prd/decisions/L5-operations/documentation-tooling.decision.yaml
  docs/prd/decisions/L5-operations/ethics-governance.decision.yaml
  docs/prd/decisions/L5-operations/finops-strategy.decision.yaml
  docs/prd/decisions/L5-operations/ml-monitoring.decision.yaml
  docs/prd/decisions/L5-operations/policy-as-code.decision.yaml
  docs/prd/decisions/_network.yaml
  pyproject.toml
  scripts/run-pipeline.py
  src/music_attribution/api/app.py
  src/music_attribution/api/routes/metrics.py
  src/music_attribution/observability/__init__.py
  src/music_attribution/observability/metrics.py
  src/music_attribution/pipeline/__init__.py
  src/music_attribution/pipeline/dag.py
  src/music_attribution/pipeline/runner.py
  state/tdd-state.json
  tests/unit/test_metrics.py
  tests/unit/test_monitoring_config.py
  tests/unit/test_pipeline_dag.py
  tests/unit/test_prd_xops_expansion.py
  tests/unit/test_prod_dockerfile.py
  uv.lock
Due: mypy

feat: add create-pr skill for complete PR metadata (#68)
  .claude/skills/create-pr/SKILL.md
Due: none

chore(ci): add path-based filtering to skip irrelevant CI jobs
  .github/workflows/ci.yml
  .github/workflows/ciso-assistant-security.yml
Due: none

chore(ci): add path-based filtering to skip irrelevant CI jobs (#69)
  .github/workflows/ci.yml
  .github/workflows/ciso-assistant-security.yml
Due: none

chore: add future annotations and docstrings to all __init__.py files
  src/music_attribution/api/__init__.py
  src/music_attribution/api/routes/__init__.py
  src/music_attribution/cli/__init__.py
  src/music_attribution/feedback/__init__.py
  src/music_attribution/observability/__init__.py
  src/music_attribution/permissions/__init__.py
  src/music_attribution/pipeline/__init__.py
  src/music_attribution/quality/__init__.py
  src/music_attribution/search/__init__.py
  src/music_attribution/seed/__init__.py
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/etl/__init__.py
  tests/unit/__init__.py
  tests/unit/api/__init__.py
  tests/unit/attribution/__init__.py
  tests/unit/etl/__init__.py
  tests/unit/mcp/__init__.py
  tests/unit/resolution/__init__.py
  tests/unit/schemas/__init__.py
Due: mypy

fix: mypy target, deduplicate constants, pin pgBouncer, drop py311 ref
  docker-compose.dev.yml
  pyproject.toml
  scripts/test-docker.sh
  src/music_attribution/attribution/aggregator.py
  src/music_attribution/constants.py
Due: mypy

feat: add regulatory compliance enums — frameworks, actors, TDM methods
  src/music_attribution/schemas/enums.py
  tests/unit/test_landscape_enums.py
Due: mypy

feat: PRD v2.0.0 — ISO 42001/EU AI Act compliance + TDM reservation nodes
  docs/prd/decisions/L1-business/regulatory-posture.decision.yaml
  docs/prd/decisions/L3-components/compliance-framework-mapping.decision.yaml
  docs/prd/decisions/L3-components/tdm-rights-reservation.decision.yaml
  docs/prd/decisions/L5-operations/ethics-governance.decision.yaml
  docs/prd/decisions/_network.yaml
  tests/unit/test_prd_network.py
  tests/unit/test_prd_xops_expansion.py
Due: mypy

fix(ci): add pull-requests read permission for paths-filter
  .github/workflows/ci.yml
Due: none

chore: final code quality + PRD v2.0.0 regulatory compliance nodes (#70)
  .github/workflows/ci.yml
  docker-compose.dev.yml
  docs/prd/decisions/L1-business/regulatory-posture.decision.yaml
  docs/prd/decisions/L3-components/compliance-framework-mapping.decision.yaml
  docs/prd/decisions/L3-components/tdm-rights-reservation.decision.yaml
  docs/prd/decisions/L5-operations/ethics-governance.decision.yaml
  docs/prd/decisions/_network.yaml
  pyproject.toml
  scripts/test-docker.sh
  src/music_attribution/api/__init__.py
  src/music_attribution/api/routes/__init__.py
  src/music_attribution/attribution/aggregator.py
  src/music_attribution/cli/__init__.py
  src/music_attribution/constants.py
  src/music_attribution/feedback/__init__.py
  src/music_attribution/observability/__init__.py
  src/music_attribution/permissions/__init__.py
  src/music_attribution/pipeline/__init__.py
  src/music_attribution/quality/__init__.py
  src/music_attribution/schemas/enums.py
  src/music_attribution/search/__init__.py
  src/music_attribution/seed/__init__.py
  tests/__init__.py
  tests/integration/__init__.py
  tests/integration/etl/__init__.py
  tests/unit/__init__.py
  tests/unit/api/__init__.py
  tests/unit/attribution/__init__.py
  tests/unit/etl/__init__.py
  tests/unit/mcp/__init__.py
  tests/unit/resolution/__init__.py
  tests/unit/schemas/__init__.py
  tests/unit/test_landscape_enums.py
  tests/unit/test_prd_network.py
  tests/unit/test_prd_xops_expansion.py
Due: mypy

docs: editorial design system for MkDocs — match frontend tokens
  docs/planning/mkdocs-styling.md
  docs/site/stylesheets/extra.css
  mkdocs.yml
  overrides/main.html
  src/music_attribution/resolution/splink_linkage.py
Due: mypy

docs: rewrite README with visual design, landscape section, reviewer feedback
  README.md
  docs/figures/repo-figures/figure-plans/fig-repo-16-landscape-overview.md
Due: none

chore: add figure processing skills, Pillow dependency, and gitignore updates
  .claude/skills/SKILL.md
  .claude/skills/figure-plan-creator/NANO-BANANA-REFERENCE.md
  .claude/skills/figure-plan-creator/SKILL.md
  .claude/skills/figure-processor/SKILL.md
  .gitignore
  pyproject.toml
  uv.lock
Due: none

docs: add web-optimized figure assets (agent + backend series)
  docs/figures/repo-figures/assets/fig-agent-01-full-stack.jpg
  docs/figures/repo-figures/assets/fig-agent-02-pydantic-ai-architecture.jpg
  docs/figures/repo-figures/assets/fig-agent-03-agui-protocol-flow.jpg
  docs/figures/repo-figures/assets/fig-agent-04-copilotkit-integration.jpg
  docs/figures/repo-figures/assets/fig-agent-05-tool-get-work.jpg
  docs/figures/repo-figures/assets/fig-agent-06-tool-explain-confidence.jpg
  docs/figures/repo-figures/assets/fig-agent-07-model-failover.jpg
  docs/figures/repo-figures/assets/fig-agent-08-conversation-flow.jpg
  docs/figures/repo-figures/assets/fig-agent-09-voice-agent-upsell.jpg
  docs/figures/repo-figures/assets/fig-agent-10-testing-strategy.jpg
  docs/figures/repo-figures/assets/fig-backend-01-etl-pipeline-overview.jpg
  docs/figures/repo-figures/assets/fig-backend-02-normalized-record-schema.jpg
  docs/figures/repo-figures/assets/fig-backend-03-data-quality-gate.jpg
  docs/figures/repo-figures/assets/fig-backend-04-source-specific-extraction.jpg
  docs/figures/repo-figures/assets/fig-backend-05-rate-limiting-strategy.jpg
  docs/figures/repo-figures/assets/fig-backend-06-resolution-orchestrator-flow.jpg
  docs/figures/repo-figures/assets/fig-backend-07-string-similarity-methods.jpg
  docs/figures/repo-figures/assets/fig-backend-08-pgvector-embedding-match.jpg
  docs/figures/repo-figures/assets/fig-backend-09-splink-probabilistic-linkage.jpg
  docs/figures/repo-figures/assets/fig-backend-10-resolved-entity-schema.jpg
  docs/figures/repo-figures/assets/fig-backend-11-attribution-engine-flow.jpg
Due: none

feat(frontend): add PlatformType enum, ecosystem registry, and design tokens
  frontend/src/app/globals.css
  frontend/src/components/ui/platform-badge.tsx
  frontend/src/lib/data/ecosystem-platforms.ts
  frontend/src/lib/types/enums.ts
  frontend/src/lib/types/permissions.ts
Due: css-token-lint

feat(frontend): expand MCP demo with real-world ecosystem scenarios
  frontend/src/components/mcp/mcp-query-mockup.tsx
  frontend/src/components/notifications/notification-badge.tsx
  frontend/src/components/permissions/audit-log.tsx
  frontend/src/lib/data/mock-notifications.ts
  frontend/src/lib/data/mock-permissions.ts
  frontend/src/lib/types/enums.test.ts
Due: css-token-lint

docs: deployment FinOps landscape report + corrected cost-vs-complexity figure
  docs/figures/repo-figures/figure-plans/fig-choice-15-deployment-options.md
  docs/planning/deployement-finops-landscape.md
Due: none

docs(prd): v2.1.0 — FinOps landscape integration into decision network
  docs/prd/decisions/L4-deployment/compute-platform.decision.yaml
  docs/prd/decisions/L4-deployment/container-strategy.decision.yaml
  docs/prd/decisions/L4-deployment/database-hosting.decision.yaml
  docs/prd/decisions/L4-deployment/iac-tooling.decision.yaml
  docs/prd/decisions/L4-deployment/object-storage.decision.yaml
  docs/prd/decisions/L5-operations/finops-strategy.decision.yaml
  docs/prd/decisions/_network.yaml
Due: none

docs(figures): add ASCII layout hygiene rules to prompting + style guides
  docs/figures/repo-figures/PROMPTING-INSTRUCTIONS-REPO.md
  docs/figures/repo-figures/STYLE-GUIDE-REPO.md
Due: none

docs(figures): scrub CSS class names and color labels from frontend figure plans
  docs/figures/repo-figures/figure-plans/fig-frontend-02-design-token-architecture.md
  docs/figures/repo-figures/figure-plans/fig-frontend-04-confidence-gauge.md
  docs/figures/repo-figures/figure-plans/fig-frontend-05-assurance-badge-system.md
  docs/figures/repo-figures/figure-plans/fig-frontend-10-typography-system.md
  docs/figures/repo-figures/figure-plans/fig-frontend-12-responsive-layout.md
Due: none

docs(figures): update 3 + create 2 figure plans for PRD v2.1.0 deployment decisions
  README.md
  docs/figures/repo-figures/figure-alt-text-catalog.md
  docs/figures/repo-figures/figure-plans/fig-choice-03-postgresql-pgvector.md
  docs/figures/repo-figures/figure-plans/fig-choice-16-object-storage-strategy.md
  docs/figures/repo-figures/figure-plans/fig-choice-17-pulumi-over-terraform.md
  docs/figures/repo-figures/figure-plans/fig-howto-07-deploy-to-production.md
  docs/figures/repo-figures/figure-plans/fig-prd-05-operational-decisions.md
Due: none

docs: geopolitical risk assessment — cloud sovereignty for music attribution
  README.md
  docs/figures/repo-figures/figure-alt-text-catalog.md
  docs/figures/repo-figures/figure-plans/fig-choice-18-cloud-sovereignty.md
  docs/planning/deployement-finops-landscape-geopolitical-risk-assessment.md
  docs/prd/decisions/L4-deployment/compute-platform.decision.yaml
Due: none

docs: update README, architecture docs, MCP knowledge base, and PRD metadata
  .claude/skills/resize-figures.skill.md
  README.md
  docs/architecture/README.md
  docs/architecture/adr/0005-single-agent-architecture.md
  docs/figures/frontend-figures/PROMPTING-INSTRUCTIONS.md
  docs/knowledge-base/technical/mcp/SYNTHESIS.md
  docs/prd/README.md
  docs/prd/mcp-server-prd.md
Due: none

docs: MCP security & production research report
  docs/planning/mcp-security-production-research.md
Due: none

docs(figures): add 15 MCP security figure plans + update alt-text catalog
  docs/figures/repo-figures/figure-alt-text-catalog.md
  docs/figures/repo-figures/figure-plans/fig-repo-17-mcp-security-threat-model.md
  docs/figures/repo-figures/figure-plans/fig-repo-18-eu-ai-act-timeline.md
  docs/figures/repo-figures/figure-plans/fig-repo-19-agentic-commerce-ecosystem.md
  docs/figures/repo-figures/figure-plans/fig-repo-20-mcp-attack-taxonomy.md
  docs/figures/repo-figures/figure-plans/fig-repo-21-inverse-scaling-paradox.md
  docs/figures/repo-figures/figure-plans/fig-repo-22-mcp-guard-three-stage.md
  docs/figures/repo-figures/figure-plans/fig-repo-23-mcp-auth-crisis.md
  docs/figures/repo-figures/figure-plans/fig-repo-24-protocol-landscape.md
  docs/figures/repo-figures/figure-plans/fig-repo-25-mcp-evolution-timeline.md
  docs/figures/repo-figures/figure-plans/fig-repo-26-zero-trust-mcp.md
  docs/figures/repo-figures/figure-plans/fig-repo-27-mcp-cve-gallery.md
  docs/figures/repo-figures/figure-plans/fig-repo-28-sandbox-isolation.md
  docs/figures/repo-figures/figure-plans/fig-repo-29-owasp-agentic-top10.md
  docs/figures/repo-figures/figure-plans/fig-repo-30-mcp-observability.md
  docs/figures/repo-figures/figure-plans/fig-repo-31-aaif-governance.md
Due: none

docs(prd): v2.2.0 — add MCP security strategy, production deployment, and input validation nodes
  docs/prd/decisions/L2-architecture/api-protocol.decision.yaml
  docs/prd/decisions/L3-components/tdm-rights-reservation.decision.yaml
  docs/prd/decisions/L3-implementation/mcp-production-deployment.decision.yaml
  docs/prd/decisions/L3-implementation/mcp-security-strategy.decision.yaml
  docs/prd/decisions/L4-deployment/mcp-input-validation.decision.yaml
  docs/prd/decisions/REPORT.md
  docs/prd/decisions/_network.yaml
Due: none

test: update PRD node count assertion for v2.2.0 (46 → >= 46)
  tests/unit/test_prd_xops_expansion.py
Due: mypy

docs(planning): tech trends report — agentic infrastructure 2026
  docs/planning/tech-trends-agentic-infrastructure-2026.md
Due: none

docs(planning): PRD expansion roadmap — from MVP to Discussion
  docs/planning/expand-probabilistic-prd-to-discussion.md
Due: none

docs(prd): v3.0.0 — add 28 ecosystem integration decision nodes
  docs/prd/decisions/L2-architecture/partnership-model.decision.yaml
  docs/prd/decisions/L2-architecture/platform-strategy.decision.yaml
  docs/prd/decisions/L3-components/agent-interop-protocol.decision.yaml
  docs/prd/decisions/L3-components/agent-observability-otel.decision.yaml
  docs/prd/decisions/L3-components/agentic-commerce-protocol.decision.yaml
  docs/prd/decisions/L3-components/ai-music-platform-connector.decision.yaml
  docs/prd/decisions/L3-components/attribution-eval-framework.decision.yaml
  docs/prd/decisions/L3-components/cmo-licensing-integration.decision.yaml
  docs/prd/decisions/L3-components/content-id-system.decision.yaml
  docs/prd/decisions/L3-components/edge-inference-strategy.decision.yaml
  docs/prd/decisions/L3-components/fairly-trained-certification.decision.yaml
  docs/prd/decisions/L3-components/knowledge-graph-backend.decision.yaml
  docs/prd/decisions/L3-components/metadata-registry-integration.decision.yaml
  docs/prd/decisions/L3-components/musical-ai-partnership.decision.yaml
  docs/prd/decisions/L3-components/soundexchange-registry.decision.yaml
  docs/prd/decisions/L3-components/stim-cmo-pilot.decision.yaml
  docs/prd/decisions/L3-components/suno-udio-licensing.decision.yaml
  docs/prd/decisions/L3-components/sureel-ai-partnership.decision.yaml
  docs/prd/decisions/L3-components/tda-provider-integration.decision.yaml
  docs/prd/decisions/L3-components/watermark-detection.decision.yaml
  docs/prd/decisions/L4-deployment/compliance-reporting-pipeline.decision.yaml
  docs/prd/decisions/L4-deployment/edge-deployment-target.decision.yaml
  docs/prd/decisions/L4-deployment/golden-dataset-management.decision.yaml
  docs/prd/decisions/L4-deployment/training-data-provenance-store.decision.yaml
  docs/prd/decisions/L5-operations/attribution-accuracy-monitoring.decision.yaml
  docs/prd/decisions/L5-operations/market-intelligence.decision.yaml
  docs/prd/decisions/L5-operations/partnership-health-metrics.decision.yaml
  docs/prd/decisions/L5-operations/regulatory-monitoring.decision.yaml
Due: none

docs(prd): update _network.yaml with 28 nodes and 63 new edges
  docs/prd/decisions/_network.yaml
Due: none

docs(prd): update REPORT.md — split topology, new scenarios, v3.0.0 stats
  docs/prd/decisions/REPORT.md
Due: none

test: add ecosystem expansion tests for PRD v3.0.0
  tests/unit/test_prd_xops_expansion.py
Due: mypy

docs(figures): add 40 figure plans for v3.0.0 ecosystem expansion
  docs/figures/repo-figures/figure-plans/fig-ecosystem-01-subgraph-overview.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-02-three-integration-archetypes.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-03-partnership-model-decision-tree.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-04-tda-provider-landscape.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-05-cmo-licensing-architecture.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-06-content-id-comparison.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-07-platform-connector-design.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-08-metadata-registry-map.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-09-agent-interop-protocol-stack.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-10-knowledge-graph-backend-options.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-11-fairly-trained-certification-flow.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-12-compliance-reporting-pipeline.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-13-edge-inference-strategy.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-14-attribution-eval-framework-maturity.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-15-company-node-activation-matrix.md
  docs/figures/repo-figures/figure-plans/fig-ecosystem-16-none-prior-heatmap.md
  docs/figures/repo-figures/figure-plans/fig-scenario-01-mvp-scenario-activation.md
  docs/figures/repo-figures/figure-plans/fig-scenario-02-four-archetype-comparison.md
  docs/figures/repo-figures/figure-plans/fig-scenario-03-decision-cascade-build-vs-buy.md
  docs/figures/repo-figures/figure-plans/fig-scenario-04-volatility-heatmap.md
  docs/figures/repo-figures/figure-plans/fig-scenario-05-network-growth-over-time.md
  docs/figures/repo-figures/figure-plans/fig-scenario-06-ecosystem-dependency-graph.md
  docs/figures/repo-figures/figure-plans/fig-scenario-07-l3-component-clustering.md
  docs/figures/repo-figures/figure-plans/fig-scenario-08-strategic-ambiguity-encoding.md
  docs/figures/repo-figures/figure-plans/fig-supplementary-01-hero-landing-page.md
  docs/figures/repo-figures/figure-plans/fig-supplementary-02-work-catalog-view.md
  docs/figures/repo-figures/figure-plans/fig-supplementary-03-work-detail-confidence.md
  docs/figures/repo-figures/figure-plans/fig-supplementary-04-attribution-review-queue.md
  docs/figures/repo-figures/figure-plans/fig-supplementary-05-mcp-permissions-dashboard.md
  docs/figures/repo-figures/figure-plans/fig-supplementary-06-agent-chat-sidebar.md
  docs/figures/repo-figures/figure-plans/fig-supplementary-07-full-prd-network-academic.md
  docs/figures/repo-figures/figure-plans/fig-supplementary-08-ecosystem-integration-academic.md
  docs/figures/repo-figures/figure-plans/fig-trends-01-agent-framework-consolidation.md
  docs/figures/repo-figures/figure-plans/fig-trends-02-pgvector-performance-evolution.md
  docs/figures/repo-figures/figure-plans/fig-trends-03-otel-genai-stack.md
  docs/figures/repo-figures/figure-plans/fig-trends-04-eval-framework-maturity-spectrum.md
  docs/figures/repo-figures/figure-plans/fig-trends-05-edge-ai-platforms.md
  docs/figures/repo-figures/figure-plans/fig-trends-06-graph-knowledge-base-options.md
  docs/figures/repo-figures/figure-plans/fig-trends-07-stim-revenue-flow.md
  docs/figures/repo-figures/figure-plans/fig-trends-08-scaffold-to-trend-implication-matrix.md
Due: none

docs(figures): update 4 existing figure plans for v3.0.0 node counts
  docs/figures/repo-figures/figure-plans/fig-prd-02-full-decision-network.md
  docs/figures/repo-figures/figure-plans/fig-prd-05-operational-decisions.md
  docs/figures/repo-figures/figure-plans/fig-prd-09-versioning-timeline.md
  docs/figures/repo-figures/figure-plans/fig-repo-16-landscape-overview.md
Due: none
