Repository petteriTeikari/music-attribution-scaffold: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, css-token-lint

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - src/

css-token-lint:
  name: css-token-lint
  entry: scripts/css-token-lint.sh
  language: script
  pass_filenames: false

docs: rewrite 6 figure plans with research-backed improvements
  docs/figures/frontend-figures/figure-plans/fig-topic-01-calibrated-confidence.md
  docs/figures/frontend-figures/figure-plans/fig-topic-02-uncertainty-vs-confidence.md
  docs/figures/frontend-figures/figure-plans/fig-topic-03-uncertainty-propagation.md
  docs/figures/frontend-figures/figure-plans/fig-topic-04-conformal-prediction.md
  docs/figures/frontend-figures/figure-plans/fig-topic-05-etl-pipelines.md
  docs/figures/frontend-figures/figure-plans/fig-topic-07-active-learning.md
  docs/planning/nano-banana-pro-figure-improvement.md
Due: none

feat: hyperlink author names in references + add Nemecek watermarking citation
  frontend/src/__tests__/citation-data.test.ts
  frontend/src/components/citations/citation-ref.tsx
  frontend/src/lib/data/citations.ts
Due: css-token-lint

docs: rewrite 6 figure plans (06, 08–12) with research-backed density
  docs/figures/frontend-figures/figure-plans/fig-topic-06-entity-resolution.md
  docs/figures/frontend-figures/figure-plans/fig-topic-08-drift-detection.md
  docs/figures/frontend-figures/figure-plans/fig-topic-09-provenance-lineage.md
  docs/figures/frontend-figures/figure-plans/fig-topic-10-mcp-permissions.md
  docs/figures/frontend-figures/figure-plans/fig-topic-11-voice-cloning.md
  docs/figures/frontend-figures/figure-plans/fig-topic-12-mlsecops-trust.md
Due: none

docs: rewrite hero figure as 3D sculptural MFCC landscape
  docs/figures/frontend-figures/figure-plans/fig-hero-01-waveform-tapestry.md
Due: none

docs: rewrite hero as flat 2D MFCC ridgeplot matching topic figures
  docs/figures/frontend-figures/figure-plans/fig-hero-01-waveform-tapestry.md
Due: none

docs: rewrite hero as mixed-media audio collage with visual energy
  docs/figures/frontend-figures/figure-plans/fig-hero-01-waveform-tapestry.md
Due: none

feat: add 12 Nano Banana topic figures + hero image to landing page
  frontend/public/images/figures/fig-hero-01-waveform-tapestry.webp
  frontend/public/images/figures/fig-topic-01-calibrated-confidence.webp
  frontend/public/images/figures/fig-topic-02-uncertainty-vs-confidence.webp
  frontend/public/images/figures/fig-topic-03-uncertainty-propagation.webp
  frontend/public/images/figures/fig-topic-04-conformal-prediction.webp
  frontend/public/images/figures/fig-topic-05-etl-pipelines.webp
  frontend/public/images/figures/fig-topic-06-entity-resolution.webp
  frontend/public/images/figures/fig-topic-07-active-learning.webp
  frontend/public/images/figures/fig-topic-08-drift-detection.webp
  frontend/public/images/figures/fig-topic-09-provenance-lineage.webp
  frontend/public/images/figures/fig-topic-10-mcp-permissions.webp
  frontend/public/images/figures/fig-topic-11-voice-cloning.webp
  frontend/public/images/figures/fig-topic-12-mlsecops-trust.webp
  frontend/src/components/citations/citation-overlay.tsx
  frontend/src/lib/data/topic-cards.ts
Due: css-token-lint

docs: add 3 group overview + assurance level figure plans and WebPs
  docs/figures/frontend-figures/figure-plans/fig-group-01-confidence-uncertainty.md
  docs/figures/frontend-figures/figure-plans/fig-group-02-pipeline-data.md
  docs/figures/frontend-figures/figure-plans/fig-group-03-governance-security.md
  docs/figures/frontend-figures/figure-plans/fig-section-assurance-levels.md
  frontend/public/images/figures/fig-group-01-confidence-uncertainty.webp
  frontend/public/images/figures/fig-group-02-pipeline-data.webp
  frontend/public/images/figures/fig-group-03-governance-security.webp
  frontend/public/images/figures/fig-section-assurance-levels.webp
Due: none

chore: archive old feature figure plans and remove their WebPs
  docs/figures/frontend-figures/figure-plans/archived/fig-feature-01-confidence-arc.md
  docs/figures/frontend-figures/figure-plans/archived/fig-feature-02-provenance-flow.md
  docs/figures/frontend-figures/figure-plans/archived/fig-feature-03-mcp-patchbay.md
  docs/figures/frontend-figures/figure-plans/archived/fig-feature-04-dual-role.md
  frontend/public/images/figures/fig-feature-01-confidence-arc.webp
  frontend/public/images/figures/fig-feature-02-provenance-flow.webp
  frontend/public/images/figures/fig-feature-03-mcp-patchbay.webp
  frontend/public/images/figures/fig-feature-04-dual-role.webp
Due: none

feat: integrate figures into landing page layout + remove FEATURES section
  frontend/src/app/page.tsx
Due: css-token-lint

fix: update landing-hero tests for doi.org link and author name
  frontend/src/__tests__/landing-hero.test.tsx
Due: css-token-lint

fix: replace undefined --color-text vars with valid design tokens
  frontend/src/components/citations/inline-citation.tsx
  frontend/src/components/citations/provenance-panel.tsx
Due: css-token-lint

chore: add .nvmrc pinning Node 22 for CI and local consistency
  frontend/.nvmrc
Due: none

ci: add frontend-test job (lint + typecheck + vitest + build)
  .github/workflows/ci.yml
Due: none

chore: install Playwright + axe-core and create E2E config
  frontend/.gitignore
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/tests/e2e/.gitkeep
Due: none

test: add Playwright E2E smoke tests for landing page
  frontend/tests/e2e/.gitkeep
  frontend/tests/e2e/landing.spec.ts
Due: none

test: add Playwright E2E smoke tests for works pages
  frontend/tests/e2e/works.spec.ts
Due: none

ci: add Playwright E2E job (depends on frontend-test)
  .github/workflows/ci.yml
  frontend/playwright.config.ts
Due: none

fix: improve WCAG AA color contrast for muted text and amber
  frontend/src/app/globals.css
Due: none

fix: add .catch() error handling to async page components
  frontend/src/app/permissions/page.tsx
  frontend/src/app/works/[workId]/page.tsx
  frontend/src/app/works/page.tsx
Due: css-token-lint

chore: add Makefile targets for Playwright E2E tests
  Makefile
Due: none

test: add css-token-lint rule for undefined --color-text tokens
  frontend/src/__tests__/css-token-lint.test.ts
Due: css-token-lint

chore: add housekeeping plan and update TDD state (all tasks done)
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
  docs/planning/housekeeping-chores.xml
Due: none

fix(ci): use cd instead of npx --prefix for tsc and playwright
  .github/workflows/ci.yml
Due: none

chore: housekeeping — frontend CI, Playwright E2E, WCAG fixes, error handling (#51)
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
  .github/workflows/ci.yml
  Makefile
  docs/planning/housekeeping-chores.xml
  frontend/.gitignore
  frontend/.nvmrc
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/__tests__/css-token-lint.test.ts
  frontend/src/__tests__/landing-hero.test.tsx
  frontend/src/app/globals.css
  frontend/src/app/permissions/page.tsx
  frontend/src/app/works/[workId]/page.tsx
  frontend/src/app/works/page.tsx
  frontend/src/components/citations/inline-citation.tsx
  frontend/src/components/citations/provenance-panel.tsx
  frontend/tests/e2e/landing.spec.ts
  frontend/tests/e2e/works.spec.ts
Due: css-token-lint

docs: comprehensive SSRN submission readiness report
  docs/planning/remaining-final-tasks-before-ssrn-repo.md
Due: none

docs: update housekeeping plan to PR-A (SSRN housekeeping tasks)
  docs/planning/housekeeping-chores.xml
Due: none

feat: SSRN housekeeping — metadata, community files, GitHub templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/research_question.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CITATION.cff
  CONTRIBUTING.md
  SECURITY.md
  pyproject.toml
  tests/unit/test_project_metadata.py
Due: mypy

chore: SSRN housekeeping — metadata, community files, GitHub templates (#52)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/research_question.md
  .github/PULL_REQUEST_TEMPLATE.md
  CHANGELOG.md
  CITATION.cff
  CONTRIBUTING.md
  SECURITY.md
  docs/planning/housekeeping-chores.xml
  docs/planning/remaining-final-tasks-before-ssrn-repo.md
  pyproject.toml
  tests/unit/test_project_metadata.py
Due: mypy

feat: commercial landscape stubs — enums, schemas, PRD nodes, docs
  docs/api/mcp-roadmap.md
  docs/planning/commercial-landscape-stubs.xml
  docs/planning/music-tech-landscape/01-attribution-companies.md
  docs/prd/decisions/L3-components/external-registry-integration.decision.yaml
  docs/prd/decisions/L3-components/provenance-verification.decision.yaml
  docs/prd/decisions/L3-components/rights-management-scope.decision.yaml
  docs/prd/decisions/L3-components/training-attribution-integration.decision.yaml
  docs/prd/decisions/_network.yaml
  docs/prd/domains/multimodal-attribution.yaml
  src/music_attribution/schemas/compliance.py
  src/music_attribution/schemas/enums.py
  src/music_attribution/schemas/training_attribution.py
  tests/unit/schemas/test_permissions.py
  tests/unit/test_landscape_docs.py
  tests/unit/test_landscape_enums.py
  tests/unit/test_landscape_stubs.py
  tests/unit/test_prd_network.py
Due: mypy

feat: commercial landscape stubs — enums, schemas, PRD nodes, docs (#53)
  docs/api/mcp-roadmap.md
  docs/planning/commercial-landscape-stubs.xml
  docs/planning/music-tech-landscape/01-attribution-companies.md
  docs/prd/decisions/L3-components/external-registry-integration.decision.yaml
  docs/prd/decisions/L3-components/provenance-verification.decision.yaml
  docs/prd/decisions/L3-components/rights-management-scope.decision.yaml
  docs/prd/decisions/L3-components/training-attribution-integration.decision.yaml
  docs/prd/decisions/_network.yaml
  docs/prd/domains/multimodal-attribution.yaml
  src/music_attribution/schemas/compliance.py
  src/music_attribution/schemas/enums.py
  src/music_attribution/schemas/training_attribution.py
  tests/unit/schemas/test_permissions.py
  tests/unit/test_landscape_docs.py
  tests/unit/test_landscape_enums.py
  tests/unit/test_landscape_stubs.py
  tests/unit/test_prd_network.py
Due: mypy

feat(P2-7): Prometheus metrics endpoint with domain-specific metrics
  docs/planning/observability-reproducability-double-checks.md
  docs/planning/xops-tier1-plan.xml
  pyproject.toml
  src/music_attribution/api/app.py
  src/music_attribution/api/routes/metrics.py
  src/music_attribution/observability/__init__.py
  src/music_attribution/observability/metrics.py
  tests/unit/test_metrics.py
  uv.lock
Due: mypy

feat(P2-6): production Dockerfile with multi-stage build and security
  docker/Dockerfile.prod
  tests/unit/test_prod_dockerfile.py
Due: mypy

feat(P2-1): declarative pipeline DAG with Pydantic model and runner
  scripts/run-pipeline.py
  src/music_attribution/pipeline/__init__.py
  src/music_attribution/pipeline/dag.py
  src/music_attribution/pipeline/runner.py
  tests/unit/test_pipeline_dag.py
Due: mypy

feat: Grafana dashboard + Docker Compose monitoring profile
  docker-compose.dev.yml
  docker/grafana/dashboards/attribution-overview.json
  docker/grafana/dashboards/dashboard.yml
  docker/grafana/datasources/prometheus.yml
  docker/prometheus.yml
  tests/unit/test_monitoring_config.py
Due: mypy

feat: PRD network expansion v1.9.0 — 7 new xOps decision nodes
  docs/prd/decisions/L4-deployment/cd-strategy.decision.yaml
  docs/prd/decisions/L4-deployment/iac-tooling.decision.yaml
  docs/prd/decisions/L4-deployment/orchestrator-choice.decision.yaml
  docs/prd/decisions/L5-operations/documentation-tooling.decision.yaml
  docs/prd/decisions/L5-operations/ethics-governance.decision.yaml
  docs/prd/decisions/L5-operations/finops-strategy.decision.yaml
  docs/prd/decisions/L5-operations/ml-monitoring.decision.yaml
  docs/prd/decisions/L5-operations/policy-as-code.decision.yaml
  docs/prd/decisions/_network.yaml
  tests/unit/test_prd_xops_expansion.py
Due: mypy

chore: update plan v1.1 with reviewer convergence and TDD state
  state/tdd-state.json
Due: none

feat: add create-pr skill for complete PR metadata
  .claude/skills/create-pr/SKILL.md
Due: none

docs(prd): update SkyPilot option with SkyServe multi-cloud serving
  docs/prd/decisions/L5-operations/finops-strategy.decision.yaml
Due: none

Path conditions:
  mypy: any of: \.py$
  css-token-lint: any of: ^frontend/src/.*\.tsx?$
