Repository petteriTeikari/music-attribution-scaffold: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, css-token-lint

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - src/

css-token-lint:
  name: css-token-lint
  entry: scripts/css-token-lint.sh
  language: script
  pass_filenames: false

docs: add pre-push verification guardrail to CLAUDE.md
  .claude/CLAUDE.md
  .secrets.baseline
  docs/prd/defaults.yaml
Due: none

fix: copy alembic/ into Docker test image
  docker/Dockerfile.test
Due: none

docs: end-to-end MVP plan with provenance strategy PRD node
  docs/planning/end-to-end-mvp-plan.xml
  docs/prd/decisions/L2-architecture/provenance-strategy.decision.yaml
  docs/prd/decisions/_network.yaml
Due: none

feat: uncertainty enums and StepUncertainty model (Task 1.0)
  src/music_attribution/schemas/enums.py
  src/music_attribution/schemas/uncertainty.py
  tests/unit/test_uncertainty_schema.py
Due: mypy

feat: SourceContribution, CalibrationMetadata, OverconfidenceReport, TrajectoryCalibration (Task 1.1)
  src/music_attribution/schemas/uncertainty.py
  tests/unit/test_uncertainty_schema.py
Due: mypy

feat: extend ProvenanceEvent with step_uncertainty and citation_index (Task 1.2)
  src/music_attribution/schemas/attribution.py
  tests/unit/test_uncertainty_schema.py
Due: mypy

feat: enrich Imogen Heap seed data with uncertainty metadata (Task 1.3)
  src/music_attribution/seed/imogen_heap.py
  tests/unit/test_seed_uncertainty.py
Due: mypy

feat: provenance API endpoint with uncertainty metadata (Task 2.0)
  src/music_attribution/api/routes/attribution.py
  src/music_attribution/attribution/persistence.py
  src/music_attribution/db/models.py
  tests/unit/test_provenance_api.py
Due: mypy

feat: citation TS types, getProvenance API, mock data wiring (Tasks 2.1 + 3.0)
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
  frontend/.env.local.example
  frontend/src/__tests__/citation-types.test.ts
  frontend/src/lib/api/api-client.ts
  frontend/src/lib/api/mock-client.ts
  frontend/src/lib/data/mock-works.ts
  frontend/src/lib/types/attribution.ts
  frontend/src/lib/types/uncertainty.ts
Due: css-token-lint

feat: InlineCitation and ProvenancePanel components (Tasks 3.1 + 3.2)
  frontend/src/__tests__/inline-citation.test.tsx
  frontend/src/__tests__/provenance-panel.test.tsx
  frontend/src/components/citations/inline-citation.tsx
  frontend/src/components/citations/provenance-panel.tsx
Due: css-token-lint

feat: wire InlineCitation badges + ProvenancePanel into work detail page
  frontend/src/__tests__/work-detail-citations.test.tsx
  frontend/src/app/works/[workId]/page.tsx
  frontend/src/components/attribution/credit-list.tsx
  frontend/src/components/provenance/provenance-timeline.test.tsx
  frontend/src/lib/data/mock-works.ts
Due: css-token-lint

test: end-to-end provenance chain integration test (seed → API → verify)
  tests/integration/test_provenance_e2e.py
Due: mypy

feat: one-command dev setup (make setup)
  Makefile
  scripts/setup.sh
  tests/unit/test_setup_script.py
Due: mypy

feat: verify Alembic migration 003 against real PostgreSQL
  alembic/versions/003_add_uncertainty_summary.py
  src/music_attribution/api/routes/attribution.py
  src/music_attribution/attribution/persistence.py
  src/music_attribution/seed/imogen_heap.py
  tests/integration/test_migrations_real_pg.py
  tests/integration/test_provenance_e2e.py
  tests/unit/test_seed_uncertainty.py
  tests/unit/test_setup_script.py
Due: mypy

fix: CI compliance and docker-test failures
  .claude/memory/ci-local-test-discrepancies.md
  LICENSE
  scripts/security/compliance_check.py
  tests/integration/test_migrations_real_pg.py
  tests/unit/test_setup_script.py
Due: mypy

feat: uncertainty-aware provenance + Perplexity-like citation UI + dev setup (#28)
  .claude/memory/ci-local-test-discrepancies.md
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
  LICENSE
  Makefile
  alembic/versions/003_add_uncertainty_summary.py
  docs/planning/end-to-end-mvp-plan.xml
  docs/prd/decisions/L2-architecture/provenance-strategy.decision.yaml
  docs/prd/decisions/_network.yaml
  frontend/.env.local.example
  frontend/src/__tests__/citation-types.test.ts
  frontend/src/__tests__/inline-citation.test.tsx
  frontend/src/__tests__/provenance-panel.test.tsx
  frontend/src/__tests__/work-detail-citations.test.tsx
  frontend/src/app/works/[workId]/page.tsx
  frontend/src/components/attribution/credit-list.tsx
  frontend/src/components/citations/inline-citation.tsx
  frontend/src/components/citations/provenance-panel.tsx
  frontend/src/components/provenance/provenance-timeline.test.tsx
  frontend/src/lib/api/api-client.ts
  frontend/src/lib/api/mock-client.ts
  frontend/src/lib/data/mock-works.ts
  frontend/src/lib/types/attribution.ts
  frontend/src/lib/types/uncertainty.ts
  scripts/security/compliance_check.py
  scripts/setup.sh
  src/music_attribution/api/routes/attribution.py
  src/music_attribution/attribution/persistence.py
  src/music_attribution/db/models.py
  src/music_attribution/schemas/attribution.py
  src/music_attribution/schemas/enums.py
  src/music_attribution/schemas/uncertainty.py
  src/music_attribution/seed/imogen_heap.py
  tests/integration/test_migrations_real_pg.py
  tests/integration/test_provenance_e2e.py
  tests/unit/test_provenance_api.py
  tests/unit/test_seed_uncertainty.py
  tests/unit/test_setup_script.py
  tests/unit/test_uncertainty_schema.py
Due: mypy, css-token-lint

feat(prd): update decision nodes for agentic UI infrastructure
  docs/planning/agentic-ui-plan.xml
  docs/prd/decisions/L3-implementation/agentic-ui-framework.decision.yaml
  docs/prd/decisions/L5-operations/observability-stack.decision.yaml
Due: none

feat(prd): add LLM provider analysis + routing strategy decision node
  docs/prd/decisions/L3-implementation/llm-provider.decision.yaml
  docs/prd/decisions/L3-implementation/llm-routing-strategy.decision.yaml
  docs/prd/decisions/_network.yaml
Due: none

feat(deps): switch from pydantic-ai-slim[openai] to [anthropic]
  pyproject.toml
  uv.lock
Due: none

feat(agent): PydanticAI attribution agent with 4 tools + AG-UI endpoint
  src/music_attribution/api/app.py
  src/music_attribution/chat/__init__.py
  src/music_attribution/chat/agent.py
  src/music_attribution/chat/agui_endpoint.py
  src/music_attribution/chat/state.py
  tests/integration/test_agent_e2e.py
  tests/unit/test_agui_endpoint.py
  tests/unit/test_chat_agent.py
  tests/unit/test_chat_state.py
Due: mypy

feat(frontend): add CopilotKit, PostHog, and proficiency state infra
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/layout.tsx
  frontend/src/lib/analytics/events.ts
  frontend/src/lib/analytics/posthog-provider.tsx
  frontend/src/lib/copilot/copilot-provider.tsx
  frontend/src/lib/stores/proficiency.ts
Due: css-token-lint

feat(frontend): agentic UI components + hooks + adaptive UX
  frontend/src/app/globals.css
  frontend/src/app/review/page.tsx
  frontend/src/components/chat/copilot-sidebar.tsx
  frontend/src/components/confidence/confidence-explanation.tsx
  frontend/src/components/feedback/agent-feedback-flow.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/review/agent-review-queue.tsx
  frontend/src/components/ui/adaptive-tooltip.tsx
  frontend/src/hooks/use-agent-actions.ts
  frontend/src/hooks/use-attribution-context.ts
  frontend/src/hooks/use-feature-flags.ts
Due: css-token-lint

test(frontend): 11 agent integration tests for proficiency + events + flags
  frontend/src/__tests__/agent-integration.test.tsx
Due: css-token-lint

fix(tests): fix 10 integration test failures (pgvector extension init)
  tests/integration/etl/test_musicbrainz_live.py
  tests/integration/etl/test_persistence.py
  tests/integration/test_migrations.py
Due: mypy

chore: add make targets (agent, test-all-local) + docker env plan
  Makefile
  docs/planning/docker-env-creation-plan.xml
Due: none

chore: pin Python 3.13 only, simplify CI pipeline
  .github/workflows/ci-docker.yml
  .github/workflows/ci.yml
  Makefile
  docker/Dockerfile.test
  docker/docker-compose.test.yml
  pyproject.toml
  uv.lock
Due: none

feat: add display fields to backend schema + seed data (Task 0.1)
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
  docs/planning/wire-mocks-to-real-backends.xml
  src/music_attribution/schemas/attribution.py
  src/music_attribution/seed/imogen_heap.py
  tests/unit/test_attribution_display_fields.py
Due: mypy

fix: add /api/v1 prefix to apiClient URLs (Task 0.2)
  frontend/src/__tests__/api-client.test.ts
  frontend/src/lib/api/api-client.ts
Due: css-token-lint

feat: add session_factory to AgentDeps for real DB access (Task 1.1)
  src/music_attribution/chat/agent.py
  tests/unit/test_chat_agent.py
Due: mypy

feat: dual-path agent tools with real repo support (Task 1.2)
  src/music_attribution/chat/agent.py
  src/music_attribution/chat/agui_endpoint.py
  tests/unit/test_agui_endpoint.py
Due: mypy

feat: add getPermissions and getAuditLog to apiClient (Task 2.1)
  frontend/src/__tests__/api-client.test.ts
  frontend/src/lib/api/api-client.ts
Due: css-token-lint

feat: swap mockApi to apiClient in all 4 page files (Task 2.2)
  frontend/src/app/permissions/page.tsx
  frontend/src/app/review/page.tsx
  frontend/src/app/works/[workId]/page.tsx
  frontend/src/app/works/page.tsx
Due: css-token-lint

feat: wire CopilotKit agent actions to real UI effects (Task 3.1)
  frontend/src/app/review/page.tsx
Due: css-token-lint

feat: wire AgentFeedbackFlow into review page (Task 4.1)
  frontend/src/app/review/page.tsx
Due: css-token-lint

test: add agent-to-DB integration tests (Task 5.1)
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
  tests/integration/test_agent_db_roundtrip.py
Due: mypy

chore: mark all 10 tasks DONE in TDD state (Task 5.2)
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
Due: none

feat: wire mock data to real backends — apiClient, agent tools, feedback (#38)
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
  docs/planning/wire-mocks-to-real-backends.xml
  frontend/src/__tests__/api-client.test.ts
  frontend/src/app/permissions/page.tsx
  frontend/src/app/review/page.tsx
  frontend/src/app/works/[workId]/page.tsx
  frontend/src/app/works/page.tsx
  frontend/src/lib/api/api-client.ts
  src/music_attribution/chat/agent.py
  src/music_attribution/chat/agui_endpoint.py
  src/music_attribution/schemas/attribution.py
  src/music_attribution/seed/imogen_heap.py
  tests/integration/test_agent_db_roundtrip.py
  tests/unit/test_agui_endpoint.py
  tests/unit/test_attribution_display_fields.py
  tests/unit/test_chat_agent.py
Due: mypy, css-token-lint

docs: SSRN MVP gate plans + audio metadata library PRD node
  docs/planning/documentation-tasks-for-ssrn-repo.xml
  docs/planning/ssrn-repo-mvp-gate-planning.xml
  docs/prd/decisions/L3-implementation/audio-metadata-library.decision.yaml
  docs/prd/decisions/_network.yaml
Due: none

Path conditions:
  mypy: any of: \.py$
  css-token-lint: any of: ^frontend/src/.*\.tsx?$
