Repository petteriTeikari/music-attribution-scaffold: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, css-token-lint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^docs/figures/generated/'
      - id: check-merge-conflict
      - id: detect-private-key

  # uv lock check
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.21
    hooks:
      - id: uv-lock

  # Ruff - Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.6
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
      - id: ruff-format

  # Type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: false
        args: [src/]

  # Frontend CSS lint â€” catch broken Tailwind v4 patterns
  - repo: local
    hooks:
      - id: css-token-lint
        name: css-token-lint
        entry: scripts/css-token-lint.sh
        language: script
        files: '^frontend/src/.*\.tsx?$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: 'uv\.lock|\.cruft\.json'

fix: detect-secrets false positives + remove private dev context
  CLAUDE.md
  scripts/setup.sh
  tests/unit/test_attribution_display_fields.py
  tests/unit/test_chat_agent.py
  tests/unit/test_seed_uncertainty.py
  tests/unit/test_setup_script.py
Due: mypy

feat: persist work_title and artist_name through DB round-trip (#39)
  alembic/versions/004_add_display_fields.py
  src/music_attribution/attribution/persistence.py
  src/music_attribution/db/models.py
  tests/integration/test_agent_db_roundtrip.py
  tests/unit/test_attribution_display_fields.py
Due: mypy

feat: replace mutagen (GPL) with tinytag (MIT) for audio metadata (#29)
  pyproject.toml
  src/music_attribution/etl/file_metadata.py
  tests/unit/etl/test_file_metadata.py
  uv.lock
Due: mypy

ci: add integration test job to GitHub Actions (#35)
  .github/workflows/ci.yml
Due: none

chore: update TDD state — all ssrn-mvp-gate tasks complete
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
Due: none

fix: use uv.lock ruff version in pre-commit (single source of truth)
  .pre-commit-config.yaml
  tests/unit/test_attribution_display_fields.py
  tests/unit/test_seed_uncertainty.py
  tests/unit/test_setup_script.py
Due: mypy

fix: SSRN MVP gate — display fields, tinytag, detect-secrets, CI (#44)
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CLAUDE.md
  alembic/versions/004_add_display_fields.py
  pyproject.toml
  scripts/setup.sh
  src/music_attribution/attribution/persistence.py
  src/music_attribution/db/models.py
  src/music_attribution/etl/file_metadata.py
  tests/integration/test_agent_db_roundtrip.py
  tests/unit/etl/test_file_metadata.py
  tests/unit/test_attribution_display_fields.py
  tests/unit/test_chat_agent.py
  uv.lock
Due: mypy

chore: fix .gitignore for root-level node_modules/.next + ruff format migration
  .gitignore
  alembic/versions/002_permissions_feedback_graph_vectors.py
Due: mypy

feat: Docker-native development with real PostgreSQL (#45)
  .github/workflows/ci.yml
  Makefile
  alembic/env.py
  docker-compose.dev.yml
  docker/Dockerfile.dev
  docker/entrypoint.dev.sh
  docs/planning/docker-native-dev-plan.xml
  src/music_attribution/api/app.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_agent_db_roundtrip.py
  tests/integration/test_full_stack.py
  tests/integration/test_provenance_e2e.py
Due: mypy

fix: detect-secrets false positives + remove private dev context
  tests/unit/test_attribution_display_fields.py
  tests/unit/test_seed_uncertainty.py
  tests/unit/test_setup_script.py
Due: mypy

fix: use uv.lock ruff version in pre-commit (single source of truth)
  tests/unit/test_attribution_display_fields.py
  tests/unit/test_seed_uncertainty.py
  tests/unit/test_setup_script.py
Due: mypy

feat: Docker-native development with real PostgreSQL (#46)
  .github/workflows/ci.yml
  .gitignore
  Makefile
  alembic/env.py
  alembic/versions/002_permissions_feedback_graph_vectors.py
  docker-compose.dev.yml
  docker/Dockerfile.dev
  docker/entrypoint.dev.sh
  docs/planning/docker-native-dev-plan.xml
  src/music_attribution/api/app.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_agent_db_roundtrip.py
  tests/integration/test_full_stack.py
  tests/integration/test_provenance_e2e.py
Due: mypy

feat: expand Settings class as single config source of truth (Task 0.1)
  .secrets.baseline
  docs/planning/qa-double-check-plan-before-ui-finetuning.xml
  pyproject.toml
  src/music_attribution/config.py
  tests/unit/test_config.py
Due: mypy

feat: wire app.py to use Settings for config (Task 0.2)
  src/music_attribution/api/app.py
  tests/unit/test_api_app.py
Due: mypy

feat: wire cli/db.py and chat/agent.py to use Settings (Task 0.3)
  src/music_attribution/chat/agent.py
  src/music_attribution/cli/db.py
Due: mypy

feat: update .env.example with all Settings fields (Task 0.4)
  .env.example
  .secrets.baseline
  tests/unit/test_config.py
Due: mypy

feat: consolidate frontend API_URL to shared config module (Task 0.5)
  frontend/src/__tests__/config.test.ts
  frontend/src/lib/api/api-client.ts
  frontend/src/lib/config.ts
  frontend/src/lib/copilot/copilot-provider.tsx
Due: css-token-lint

refactor: remove in-memory dict fallback from routes and agent
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
  src/music_attribution/api/app.py
  src/music_attribution/api/dependencies.py
  src/music_attribution/api/routes/attribution.py
  src/music_attribution/chat/agent.py
  src/music_attribution/chat/agui_endpoint.py
  src/music_attribution/db/engine.py
  tests/unit/api/test_attribution_endpoints.py
  tests/unit/test_agui_endpoint.py
  tests/unit/test_chat_agent.py
Due: mypy

refactor: extract _register_sqlite_type_compilers to shared conftest
  pyproject.toml
  tests/unit/conftest.py
  tests/unit/test_api_attribution_routes_pg.py
  tests/unit/test_api_permission_routes.py
  tests/unit/test_attribution_persistence_pg.py
  tests/unit/test_cli_db.py
  tests/unit/test_edge_repository.py
  tests/unit/test_embedding_service.py
  tests/unit/test_feedback_persistence.py
  tests/unit/test_hybrid_search.py
  tests/unit/test_permissions_persistence.py
  tests/unit/test_provenance_api.py
  tests/unit/test_seed_imogen_heap.py
  tests/unit/test_text_search.py
  tests/unit/test_vector_search.py
Due: mypy

refactor: extract ensure_utc and parse_jsonb to db/utils.py
  src/music_attribution/attribution/persistence.py
  src/music_attribution/db/utils.py
  src/music_attribution/feedback/persistence.py
  src/music_attribution/permissions/persistence.py
Due: mypy

refactor: remove dead backend functions and unused deps
  .secrets.baseline
  pyproject.toml
  src/music_attribution/core.py
  src/music_attribution/db/engine.py
  tests/unit/test_db_engine.py
  uv.lock
Due: mypy

chore: flag unused frontend components and atoms with TODO comments
  frontend/src/components/confidence/confidence-explanation.tsx
  frontend/src/components/editor/credit-editor.tsx
  frontend/src/components/pro/voice-agent-banner.tsx
  frontend/src/components/states/empty-state.tsx
  frontend/src/components/states/error-boundary.tsx
  frontend/src/components/states/skeleton.tsx
  frontend/src/components/ui/adaptive-tooltip.tsx
  frontend/src/lib/stores/theme.ts
  frontend/src/lib/stores/works.ts
Due: css-token-lint

fix: pgbouncer healthcheck port + document Docker services
  .github/workflows/ci-docker.yml
  .secrets.baseline
  docker-compose.dev.yml
Due: none

chore: update TDD state — all 12 QA tasks complete
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
Due: none

fix: update integration test to match AgentDeps interface (no attributions field)
  tests/integration/test_agent_db_roundtrip.py
Due: mypy

fix: remove integration test skip hook — all tests always run
  .github/workflows/ci.yml
  Makefile
  tests/conftest.py
Due: mypy

fix: replace 387 Tailwind v4 [var(--*)] anti-patterns with native utilities (#47)
  docs/planning/tailwind-qa.md
  frontend/src/__tests__/css-token-lint.test.ts
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/app/permissions/page.tsx
  frontend/src/app/review/page.tsx
  frontend/src/app/works/[workId]/page.tsx
  frontend/src/app/works/page.tsx
  frontend/src/components/attribution/credit-list.tsx
  frontend/src/components/chat/copilot-sidebar.tsx
  frontend/src/components/confidence/confidence-explanation.tsx
  frontend/src/components/confidence/confidence-gauge.tsx
  frontend/src/components/editor/credit-editor.tsx
  frontend/src/components/feedback/agent-feedback-flow.tsx
  frontend/src/components/feedback/feedback-panel.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/layout/navigation.tsx
  frontend/src/components/mcp/mcp-query-mockup.tsx
  frontend/src/components/mode/role-toggle.tsx
  frontend/src/components/notifications/notification-badge.tsx
  frontend/src/components/permissions/audit-log.tsx
  frontend/src/components/permissions/permission-matrix.tsx
  frontend/src/components/pro/voice-agent-banner.tsx
  frontend/src/components/provenance/provenance-timeline.tsx
  frontend/src/components/review/agent-review-queue.tsx
  frontend/src/components/states/empty-state.tsx
  frontend/src/components/states/error-boundary.tsx
  frontend/src/components/states/skeleton.tsx
  frontend/src/components/theme/theme-toggle.tsx
  frontend/src/components/ui/adaptive-tooltip.tsx
  frontend/src/components/works/source-tag.tsx
  frontend/src/components/works/work-card.tsx
Due: css-token-lint

fix: replace 387 Tailwind v4 [var(--*)] anti-patterns with native utilities (#49)
  docs/planning/tailwind-qa.md
  frontend/src/__tests__/css-token-lint.test.ts
  frontend/src/app/globals.css
  frontend/src/app/page.tsx
  frontend/src/app/permissions/page.tsx
  frontend/src/app/review/page.tsx
  frontend/src/app/works/[workId]/page.tsx
  frontend/src/app/works/page.tsx
  frontend/src/components/attribution/credit-list.tsx
  frontend/src/components/chat/copilot-sidebar.tsx
  frontend/src/components/confidence/confidence-explanation.tsx
  frontend/src/components/confidence/confidence-gauge.tsx
  frontend/src/components/editor/credit-editor.tsx
  frontend/src/components/feedback/agent-feedback-flow.tsx
  frontend/src/components/feedback/feedback-panel.tsx
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/layout/navigation.tsx
  frontend/src/components/mcp/mcp-query-mockup.tsx
  frontend/src/components/mode/role-toggle.tsx
  frontend/src/components/notifications/notification-badge.tsx
  frontend/src/components/permissions/audit-log.tsx
  frontend/src/components/permissions/permission-matrix.tsx
  frontend/src/components/pro/voice-agent-banner.tsx
  frontend/src/components/provenance/provenance-timeline.tsx
  frontend/src/components/review/agent-review-queue.tsx
  frontend/src/components/states/empty-state.tsx
  frontend/src/components/states/error-boundary.tsx
  frontend/src/components/states/skeleton.tsx
  frontend/src/components/theme/theme-toggle.tsx
  frontend/src/components/ui/adaptive-tooltip.tsx
  frontend/src/components/works/source-tag.tsx
  frontend/src/components/works/work-card.tsx
Due: css-token-lint

docs: add landing page academic citation redesign plan
  docs/planning/frontend-citation-improvement.md
Due: none

feat: add citation database and topic card data modules (Task 0.1)
  frontend/src/__tests__/citation-data.test.ts
  frontend/src/lib/data/citations.ts
  frontend/src/lib/data/topic-cards.ts
Due: css-token-lint

feat: add CitationOverlay component with progressive disclosure (Task 0.2)
  frontend/src/__tests__/citation-overlay.test.tsx
  frontend/src/components/citations/citation-overlay.tsx
Due: css-token-lint

feat: add CitationRefList component for reference list (Task 0.3)
  frontend/src/__tests__/citation-ref.test.tsx
  frontend/src/components/citations/citation-ref.tsx
Due: css-token-lint

feat: redesign hero section with paper title and abstract (Task 1.1)
  frontend/src/__tests__/landing-hero.test.tsx
  frontend/src/app/page.tsx
Due: css-token-lint

feat: landing page academic redesign — HOW IT WORKS citations, 12 topic cards, A0-A3 levels, references
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
  frontend/src/__tests__/landing-hero.test.tsx
  frontend/src/__tests__/landing-sections.test.tsx
  frontend/src/app/page.tsx
Due: css-token-lint

chore: update TDD state — all 9 citation tasks DONE, plan converged
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
Due: none

fix: restore FEATURES section with 4 teaser figures alongside 12 topic cards
  frontend/src/app/page.tsx
Due: css-token-lint

docs: add 12 Nano Banana figure plans for topic card infographics
  docs/figures/frontend-figures/figure-plans/fig-topic-01-calibrated-confidence.md
  docs/figures/frontend-figures/figure-plans/fig-topic-02-uncertainty-vs-confidence.md
  docs/figures/frontend-figures/figure-plans/fig-topic-03-uncertainty-propagation.md
  docs/figures/frontend-figures/figure-plans/fig-topic-04-conformal-prediction.md
  docs/figures/frontend-figures/figure-plans/fig-topic-05-etl-pipelines.md
  docs/figures/frontend-figures/figure-plans/fig-topic-06-entity-resolution.md
  docs/figures/frontend-figures/figure-plans/fig-topic-07-active-learning.md
  docs/figures/frontend-figures/figure-plans/fig-topic-08-drift-detection.md
  docs/figures/frontend-figures/figure-plans/fig-topic-09-provenance-lineage.md
  docs/figures/frontend-figures/figure-plans/fig-topic-10-mcp-permissions.md
  docs/figures/frontend-figures/figure-plans/fig-topic-11-voice-cloning.md
  docs/figures/frontend-figures/figure-plans/fig-topic-12-mlsecops-trust.md
Due: none
