Repository petteriTeikari/music-attribution-scaffold: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, css-token-lint

ruff:
  name: ruff
  entry: uv run ruff check --fix --exit-non-zero-on-fix
  language: system

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

mypy:
  name: mypy
  entry: uv run mypy
  language: system
  pass_filenames: false
  args:
  - src/

css-token-lint:
  name: css-token-lint
  entry: scripts/css-token-lint.sh
  language: script
  pass_filenames: false

docs(mkdocs): add Voice Agent (48 figs) and Persona Coherence (30 figs) to gallery
  docs/site/gallery.md
Due: none

build(mkdocs): integrate voice tutorial via build-time copy with link fixup
  .github/workflows/deploy-docs.yml
  .gitignore
  Makefile
  mkdocs.yml
Due: none

docs: add tiered dependency license audit
  README.md
  license-advanced.md
Due: none

docs: add tiered dependency license audit (#197)
  README.md
  license-advanced.md
Due: none

chore: bump version to 1.0.0
  frontend/package.json
  pyproject.toml
  src/music_attribution/__init__.py
  uv.lock
Due: ruff, ruff-format, mypy

chore: add Zenodo metadata and release infrastructure
  .gitattributes
  .zenodo.json
  CITATION.cff
  Makefile
  README.md
Due: none

docs: consolidate CHANGELOG for v0.7.0–v1.0.0
  CHANGELOG.md
Due: none

feat(observability): add voice pipeline Prometheus metrics and Grafana dashboard
  docker/grafana/dashboards/voice-pipeline.json
  src/music_attribution/observability/voice_metrics.py
  src/music_attribution/voice/drift.py
  src/music_attribution/voice/server.py
  tests/unit/test_voice_metrics.py
Due: ruff, ruff-format, mypy

feat(voice): add CPU/GPU benchmark script with VRAM guards
  Makefile
  scripts/benchmark_voice.py
  tests/unit/test_benchmark_script.py
Due: ruff, ruff-format, mypy

docs(prd): add voice benchmarking node and Prometheus 3.0 research
  docs/knowledge-base/technical/observability/prometheus-otel-convergence-2026.md
  docs/prd/decisions/L3-components/agent-observability-otel.decision.yaml
  docs/prd/decisions/L5-operations/observability-stack.decision.yaml
  docs/prd/decisions/L5-operations/voice-pipeline-benchmarking.decision.yaml
  docs/prd/decisions/_network.yaml
Due: none

fix(voice): add voice_id params to TTS services for Pipecat 0.0.102
  docs/planning/voice-agent-benchmarking-plan.md
  scripts/benchmark_voice.py
  src/music_attribution/voice/config.py
  src/music_attribution/voice/pipeline.py
Due: ruff, ruff-format, mypy

feat(voice): production-grade benchmarking with synthetic commands and e2e pipeline
  docs/planning/voice-benchmarking-tdd-plan.xml
  scripts/benchmark_voice.py
  tests/unit/test_benchmark_e2e.py
  tests/unit/test_benchmark_integration.py
  tests/unit/test_benchmark_microphone.py
  tests/unit/test_benchmark_synthetic.py
  tests/unit/test_benchmark_wer.py
Due: ruff, ruff-format, mypy

docs(readme): add voice STT benchmarks and update test counts to 1,304
  README.md
Due: none

chore: update TDD state after voice benchmarking completion (12/12 tasks)
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
Due: none

chore: move license-advanced.md to docs/ to fix GitHub license detection
  README.md
  docs/license-advanced.md
Due: none

feat(voice): voice pipeline benchmarking, observability metrics, and Grafana dashboard (#198)
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
  Makefile
  README.md
  docker/grafana/dashboards/voice-pipeline.json
  docs/knowledge-base/technical/observability/prometheus-otel-convergence-2026.md
  docs/license-advanced.md
  docs/planning/voice-agent-benchmarking-plan.md
  docs/planning/voice-benchmarking-tdd-plan.xml
  docs/prd/decisions/L3-components/agent-observability-otel.decision.yaml
  docs/prd/decisions/L5-operations/observability-stack.decision.yaml
  docs/prd/decisions/L5-operations/voice-pipeline-benchmarking.decision.yaml
  docs/prd/decisions/_network.yaml
  scripts/benchmark_voice.py
  src/music_attribution/observability/voice_metrics.py
  src/music_attribution/voice/config.py
  src/music_attribution/voice/drift.py
  src/music_attribution/voice/pipeline.py
  src/music_attribution/voice/server.py
  tests/unit/test_benchmark_e2e.py
  tests/unit/test_benchmark_integration.py
  tests/unit/test_benchmark_microphone.py
  tests/unit/test_benchmark_script.py
  tests/unit/test_benchmark_synthetic.py
  tests/unit/test_benchmark_wer.py
  tests/unit/test_voice_metrics.py
Due: ruff, ruff-format, mypy

fix: backend QA fixes — constants SoT, field naming, CORS, deps
  pyproject.toml
  src/music_attribution/api/app.py
  src/music_attribution/api/routes/attribution.py
  src/music_attribution/api/routes/permissions.py
  src/music_attribution/chat/agent.py
  src/music_attribution/constants.py
  src/music_attribution/resolution/orchestrator.py
  src/music_attribution/schemas/feedback.py
  src/music_attribution/seed/imogen_heap.py
  src/music_attribution/voice/tools.py
  tests/unit/test_migration_002_structure.py
  uv.lock
Due: ruff, ruff-format, mypy

fix(frontend): deduplicate format utils, confidence tier, keyboard a11y
  frontend/src/components/attribution/credit-list.tsx
  frontend/src/components/citations/provenance-panel.tsx
  frontend/src/components/confidence/confidence-explanation.tsx
  frontend/src/components/editor/credit-editor.tsx
  frontend/src/components/permissions/audit-log.tsx
  frontend/src/components/permissions/consent-graph.tsx
  frontend/src/components/permissions/consent-profile.tsx
  frontend/src/components/provenance/provenance-timeline.tsx
  frontend/src/components/works/confidence-popover.tsx
  frontend/src/lib/permissions/consent-groups.ts
  frontend/src/lib/utils/format.ts
Due: css-token-lint

refactor(tests): shared test factory + meta cleanup
  .github/workflows/ci.yml
  .gitignore
  CLAUDE.md
  README.md
  code-review-final-qa-prompt.md
  code-review-final-qa-report.md
  tests/factories.py
  tests/unit/api/test_attribution_endpoints.py
  tests/unit/attribution/test_persistence.py
  tests/unit/attribution/test_priority_queue.py
  tests/unit/mcp/test_mcp_server.py
  tests/unit/test_attribution_display_fields.py
  tests/unit/test_attribution_persistence_pg.py
Due: ruff, ruff-format, mypy

fix: backend quality polish — acoustid field, thread safety, shared deps, error handling
  src/music_attribution/api/app.py
  src/music_attribution/api/dependencies.py
  src/music_attribution/api/routes/attribution.py
  src/music_attribution/api/routes/permissions.py
  src/music_attribution/attribution/priority_queue.py
  src/music_attribution/chat/agui_endpoint.py
  src/music_attribution/constants.py
  src/music_attribution/core.py
  src/music_attribution/observability/metrics.py
  src/music_attribution/resolution/llm_disambiguation.py
  src/music_attribution/resolution/orchestrator.py
  src/music_attribution/resolution/splink_linkage.py
  tests/integration/test_agent_db_roundtrip.py
  tests/integration/test_agent_e2e.py
  tests/unit/resolution/test_orchestrator_acoustid.py
  tests/unit/test_agui_endpoint.py
  tests/unit/test_api_dependencies.py
  tests/unit/test_metrics.py
Due: ruff, ruff-format, mypy

fix(frontend): a11y, shadow tokens, skip-nav, focus indicators
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/mode/role-toggle.tsx
  frontend/src/components/notifications/notification-badge.tsx
  frontend/src/components/permissions/consent-profile.tsx
  frontend/src/components/permissions/node-overlay-panel.tsx
  frontend/src/components/review/agent-review-queue.tsx
Due: css-token-lint

docs: fix sample data count (9→8), update test badge (1311)
  README.md
  docs/planning/final-quality-polish-plan.xml
Due: none

fix: deep QA code review — 15 fixes across backend, frontend, and tests (#199)
  .github/workflows/ci.yml
  .gitignore
  CLAUDE.md
  README.md
  code-review-final-qa-prompt.md
  code-review-final-qa-report.md
  frontend/src/components/attribution/credit-list.tsx
  frontend/src/components/citations/provenance-panel.tsx
  frontend/src/components/confidence/confidence-explanation.tsx
  frontend/src/components/editor/credit-editor.tsx
  frontend/src/components/permissions/audit-log.tsx
  frontend/src/components/permissions/consent-graph.tsx
  frontend/src/components/permissions/consent-profile.tsx
  frontend/src/components/provenance/provenance-timeline.tsx
  frontend/src/components/works/confidence-popover.tsx
  frontend/src/lib/permissions/consent-groups.ts
  frontend/src/lib/utils/format.ts
  pyproject.toml
  src/music_attribution/api/app.py
  src/music_attribution/api/routes/attribution.py
  src/music_attribution/api/routes/permissions.py
  src/music_attribution/chat/agent.py
  src/music_attribution/constants.py
  src/music_attribution/resolution/orchestrator.py
  src/music_attribution/schemas/feedback.py
  src/music_attribution/seed/imogen_heap.py
  src/music_attribution/voice/tools.py
  tests/factories.py
  tests/unit/api/test_attribution_endpoints.py
  tests/unit/attribution/test_persistence.py
  tests/unit/attribution/test_priority_queue.py
  tests/unit/mcp/test_mcp_server.py
  tests/unit/test_attribution_display_fields.py
  tests/unit/test_attribution_persistence_pg.py
  tests/unit/test_migration_002_structure.py
  uv.lock
Due: ruff, ruff-format, mypy, css-token-lint

fix: final quality polish for v1.0 Zenodo freeze (#227)
  README.md
  docs/planning/final-quality-polish-plan.xml
  frontend/src/components/layout/app-shell.tsx
  frontend/src/components/mode/role-toggle.tsx
  frontend/src/components/notifications/notification-badge.tsx
  frontend/src/components/permissions/consent-profile.tsx
  frontend/src/components/permissions/node-overlay-panel.tsx
  frontend/src/components/review/agent-review-queue.tsx
  src/music_attribution/api/app.py
  src/music_attribution/api/dependencies.py
  src/music_attribution/api/routes/attribution.py
  src/music_attribution/api/routes/permissions.py
  src/music_attribution/attribution/priority_queue.py
  src/music_attribution/chat/agui_endpoint.py
  src/music_attribution/constants.py
  src/music_attribution/core.py
  src/music_attribution/observability/metrics.py
  src/music_attribution/resolution/llm_disambiguation.py
  src/music_attribution/resolution/orchestrator.py
  src/music_attribution/resolution/splink_linkage.py
  tests/integration/test_agent_db_roundtrip.py
  tests/integration/test_agent_e2e.py
  tests/unit/resolution/test_orchestrator_acoustid.py
  tests/unit/test_agui_endpoint.py
  tests/unit/test_api_dependencies.py
  tests/unit/test_metrics.py
Due: ruff, ruff-format, mypy, css-token-lint

chore: move QA review files from repo root to docs/planning/
  docs/planning/code-review-final-qa-prompt.md
  docs/planning/code-review-final-qa-report.md
Due: none

docs: add v1.1 feature planning — auth, APIs/tiers/credits, voice/WebMCP
  docs/planning/v1.1-auth-security-plan.xml
  docs/planning/v1.1-live-apis-tiers-credits-plan.xml
  docs/planning/v1.1-review-addendum.md
  docs/planning/v1.1-voice-synthesis-comparison.md
  docs/planning/v1.1-voice-webmcp-plan.xml
Due: none

chore: add voice golden dataset plan v2.1 and issue tracking policy
  .claude/CLAUDE.md
  .claude/skills/self-learning-iterative-coder/SKILL.md
  .claude/skills/self-learning-iterative-coder/protocols/checkpoint.md
  .claude/skills/self-learning-iterative-coder/state/tdd-state.json
  docs/planning/v1.1-voice-testing-suite-plan.xml
Due: none

feat(voice): implement task 1.1 — voice-test deps, mypy overrides, fixture dir (#231)
  pyproject.toml
  tests/fixtures/voice/audio/.gitkeep
  tests/unit/voice/test_degradation.py
  uv.lock
Due: ruff, ruff-format, mypy

feat(voice): implement task 1.2 — DegradationPreset, DegradationConfig, PRESETS (#232)
  src/music_attribution/voice/degradation.py
  tests/unit/voice/test_degradation.py
Due: ruff, ruff-format, mypy

feat(voice): implement task 1.3 — GOLDEN_COMMANDS corpus (#233)
  src/music_attribution/voice/golden_commands.py
  tests/unit/voice/test_golden_commands.py
Due: ruff, ruff-format, mypy

feat(voice): implement task 2.1 — apply_degradation() with codec simulation (#234)
  src/music_attribution/voice/degradation.py
  tests/unit/voice/test_degradation.py
Due: ruff, ruff-format, mypy

feat(voice): implement task 2.2 — read_audio() and write_audio() FLAC I/O (#235)
  src/music_attribution/voice/degradation.py
  tests/unit/voice/test_degradation.py
Due: ruff, ruff-format, mypy

feat(voice): implement task 2.3 — compute_wer() and check_domain_keywords() (#236)
  src/music_attribution/voice/metrics.py
  tests/unit/voice/test_metrics.py
Due: ruff, ruff-format, mypy

feat(voice): synthesize_command + generate_clean_fixtures (task 3.1)
  scripts/generate_golden_dataset.py
  tests/unit/voice/test_generate_golden.py
Due: ruff, ruff-format, mypy

feat(voice): degraded fixture generation, manifest, CLI entry point (task 3.2)
  scripts/generate_golden_dataset.py
  tests/unit/voice/test_generate_golden.py
Due: ruff, ruff-format, mypy

feat(voice): fixture loading helpers, WER thresholds, conftest (task 4.1)
  tests/unit/voice/conftest.py
  tests/unit/voice/test_golden_stt.py
Due: ruff, ruff-format, mypy

feat(voice): parametrized STT accuracy tests across presets (task 4.2)
  tests/unit/voice/test_golden_stt.py
Due: ruff, ruff-format, mypy

feat(voice): fixture integrity + signal-processing validation (task 4.3)
  tests/unit/voice/test_degradation.py
  tests/unit/voice/test_golden_stt.py
Due: ruff, ruff-format, mypy

feat(voice): register voice marker + Makefile targets (task 5.1)
  Makefile
  pyproject.toml
  tests/unit/voice/test_golden_stt.py
Due: ruff, ruff-format, mypy

Path conditions:
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
  css-token-lint: any of: ^frontend/src/.*\.tsx?$
