Repository petteriTeikari/music-attribution-scaffold: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, ruff-format, mypy, css-token-lint

.pre-commit-config.yaml:

default_install_hook_types: [pre-commit, commit-msg]

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: 'mkdocs\.yml'
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
        exclude: '^docs/figures/generated/'
      - id: check-merge-conflict
      - id: detect-private-key

  # uv lock check
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.5.21
    hooks:
      - id: uv-lock

  # Ruff - Python linter and formatter (uses version from uv.lock, not pinned)
  - repo: local
    hooks:
      - id: ruff
        name: ruff
        entry: uv run ruff check --fix --exit-non-zero-on-fix
        language: system
        types: [python]
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]

  # Type checking
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        language: system
        types: [python]
        pass_filenames: false
        args: [src/]

  # Frontend CSS lint â€” catch broken Tailwind v4 patterns
  - repo: local
    hooks:
      - id: css-token-lint
        name: css-token-lint
        entry: scripts/css-token-lint.sh
        language: script
        files: '^frontend/src/.*\.tsx?$'
        pass_filenames: false

  # Security checks
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
        exclude: 'uv\.lock|\.cruft\.json'

docs: fix Mermaid diagram contrast (#5C5C5C → #333333)
  docs/architecture/README.md
  docs/architecture/adr/0005-single-agent-architecture.md
  docs/figures/MERMAID-IMPLEMENTATION-PLAN.md
  docs/figures/MERMAID-STYLE-GUIDE.md
  docs/knowledge-base/README.md
  docs/knowledge-base/technical/mcp/SYNTHESIS.md
  docs/planning/figure-docs-improvement-plan.md
  docs/planning/music-tech-landscape/07-buy-vs-build.md
  docs/planning/music-tech-landscape/08-risk-framework.md
  docs/planning/music-tech-landscape/09-feedback-mechanisms.md
  docs/planning/music-tech-landscape/10-strategic-implications.md
  docs/prd/REJECTED.md
  docs/prd/SYNTHESIS.md
  docs/prd/attribution-engine-prd.md
  docs/prd/chat-interface-prd.md
  docs/prd/llm-context.md
  docs/prd/mcp-server-prd.md
Due: none

docs: add visual documentation to module READMEs (46 figures)
  frontend/README.md
  src/music_attribution/api/README.md
  src/music_attribution/attribution/README.md
  src/music_attribution/chat/README.md
  src/music_attribution/etl/README.md
  src/music_attribution/mcp/README.md
  src/music_attribution/resolution/README.md
  src/music_attribution/schemas/README.md
  tests/README.md
Due: none

docs: add figures to PRD, landscape, and planning docs (65 figures)
  docs/README.md
  docs/planning/music-tech-landscape/README.md
  docs/planning/tech-trends-agentic-infrastructure-2026.md
  docs/prd/README.md
  docs/prd/decisions/REPORT.md
Due: none

docs: add theory and howto figures to MkDocs concept/tutorial pages
  docs/site/concepts/assurance-levels.md
  docs/site/concepts/conformal-prediction.md
  docs/site/concepts/entity-resolution.md
  docs/site/concepts/mcp-consent.md
  docs/site/concepts/oracle-problem.md
  docs/site/concepts/two-friction-taxonomy.md
  docs/site/troubleshooting.md
  docs/site/tutorials/adding-data-sources.md
  docs/site/tutorials/api-examples.md
  docs/site/tutorials/index.md
  docs/site/tutorials/reproducing-the-paper.md
Due: none

chore: gitignore MkDocs figure copies, add docs build targets
  .github/workflows/deploy-docs.yml
  .gitignore
  Makefile
  docs/polish-documentation/README.md
Due: none

feat: add managerial roadmap — 18-month plan, 25 GitHub issues, 12 pitch deck figure plans
  docs/figures/repo-figures/figure-plans/fig-pitch-01-market-opportunity.md
  docs/figures/repo-figures/figure-plans/fig-pitch-02-competitive-positioning.md
  docs/figures/repo-figures/figure-plans/fig-pitch-03-architecture.md
  docs/figures/repo-figures/figure-plans/fig-pitch-04-assurance-levels.md
  docs/figures/repo-figures/figure-plans/fig-pitch-05-team-hiring.md
  docs/figures/repo-figures/figure-plans/fig-pitch-06-milestone-roadmap.md
  docs/figures/repo-figures/figure-plans/fig-pitch-07-financial-scenarios.md
  docs/figures/repo-figures/figure-plans/fig-pitch-08-revenue-model.md
  docs/figures/repo-figures/figure-plans/fig-pitch-09-moat-defensibility.md
  docs/figures/repo-figures/figure-plans/fig-pitch-10-voice-agent.md
  docs/figures/repo-figures/figure-plans/fig-pitch-11-regulatory-tailwind.md
  docs/figures/repo-figures/figure-plans/fig-pitch-12-partnership-strategy.md
  docs/planning/managerial-roadmap-planning.md
Due: none

docs: pitch deck integration — 12 figures, 18 advanced slide plans, MkDocs pages
  README.md
  docs/figures/repo-figures/assets/fig-pitch-01-market-opportunity.jpg
  docs/figures/repo-figures/assets/fig-pitch-02-competitive-positioning.jpg
  docs/figures/repo-figures/assets/fig-pitch-03-architecture.jpg
  docs/figures/repo-figures/assets/fig-pitch-04-assurance-levels.jpg
  docs/figures/repo-figures/assets/fig-pitch-05-team-hiring.jpg
  docs/figures/repo-figures/assets/fig-pitch-06-milestone-roadmap.jpg
  docs/figures/repo-figures/assets/fig-pitch-07-financial-scenarios.jpg
  docs/figures/repo-figures/assets/fig-pitch-08-revenue-model.jpg
  docs/figures/repo-figures/assets/fig-pitch-09-moat-defensibility.jpg
  docs/figures/repo-figures/assets/fig-pitch-10-voice-agent.jpg
  docs/figures/repo-figures/assets/fig-pitch-11-regulatory-tailwind.jpg
  docs/figures/repo-figures/assets/fig-pitch-12-partnership-strategy.jpg
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-01-architecture-three-tier.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-02-entity-resolution-moat.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-03-conformal-prediction-transparency.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-04-knowledge-graph-backend.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-05-inference-pipeline-latency.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-06-competitor-positioning-moat.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-07-market-segmentation-tam.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-08-regulatory-tailwinds-eu-ai-act.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-09-partnership-ecosystem-map.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-10-review-queue-ux-efficiency.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-11-accessibility-wcag-2-1-aa.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-12-voice-agent-premium-upsell.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-13-artist-mode-adaptive-ui.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-14-unit-economics-arpu.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-15-customer-acquisition-funnel.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-16-18-month-financial-projections.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-17-partnership-revenue-streams.md
  docs/figures/repo-figures/figure-plans/fig-pitch-adv-18-18-month-hiring-roadmap.md
  docs/site/pitch-deck-advanced.md
  docs/site/pitch-deck.md
  mkdocs.yml
Due: none

feat: add 18 advanced pitch figures, enrich deck pages with SEO body text
  docs/figures/repo-figures/assets/fig-pitch-01-market-opportunity.jpg
  docs/figures/repo-figures/assets/fig-pitch-02-competitive-positioning.jpg
  docs/figures/repo-figures/assets/fig-pitch-03-architecture.jpg
  docs/figures/repo-figures/assets/fig-pitch-04-assurance-levels.jpg
  docs/figures/repo-figures/assets/fig-pitch-05-team-hiring.jpg
  docs/figures/repo-figures/assets/fig-pitch-06-milestone-roadmap.jpg
  docs/figures/repo-figures/assets/fig-pitch-07-financial-scenarios.jpg
  docs/figures/repo-figures/assets/fig-pitch-08-revenue-model.jpg
  docs/figures/repo-figures/assets/fig-pitch-09-moat-defensibility.jpg
  docs/figures/repo-figures/assets/fig-pitch-10-voice-agent.jpg
  docs/figures/repo-figures/assets/fig-pitch-11-regulatory-tailwind.jpg
  docs/figures/repo-figures/assets/fig-pitch-12-partnership-strategy.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-01-architecture-three-tier.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-02-entity-resolution-moat.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-03-conformal-prediction-transparency.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-04-knowledge-graph-backend.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-05-inference-pipeline-latency.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-06-competitor-positioning-moat.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-07-market-segmentation-tam.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-08-regulatory-tailwinds-eu-ai-act.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-09-partnership-ecosystem-map.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-10-review-queue-ux-efficiency.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-11-accessibility-wcag-2-1-aa.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-12-voice-agent-premium-upsell.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-13-artist-mode-adaptive-ui.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-14-unit-economics-arpu.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-15-customer-acquisition-funnel.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-16-18-month-financial-projections.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-17-partnership-revenue-streams.jpg
  docs/figures/repo-figures/assets/fig-pitch-adv-18-18-month-hiring-roadmap.jpg
  docs/site/pitch-deck-advanced.md
  docs/site/pitch-deck.md
  mkdocs.yml
Due: none

fix: prevent dollar signs from rendering as LaTeX math in MkDocs
  Makefile
  docs/site/stylesheets/extra.css
  mkdocs.yml
  tests/unit/test_docs_math_safety.py
Due: ruff, ruff-format, mypy

fix: prevent dollar signs from rendering as LaTeX math in MkDocs (#150)
  Makefile
  docs/site/stylesheets/extra.css
  mkdocs.yml
  tests/unit/test_docs_math_safety.py
Due: ruff, ruff-format, mypy

docs: add voice agent implementation tutorial
  docs/tutorials/voice-agent-implementation.md
Due: none

feat(voice): add voice dependency groups and TDD state init
  docs/planning/voice-agent-and-personalization-plan.xml
  pyproject.toml
  state/tdd-state.json
  uv.lock
Due: none

feat(voice): add voice module structure with config and protocols
  src/music_attribution/voice/__init__.py
  src/music_attribution/voice/config.py
  src/music_attribution/voice/drift.py
  src/music_attribution/voice/persona.py
  src/music_attribution/voice/pipeline.py
  src/music_attribution/voice/protocols.py
  src/music_attribution/voice/server.py
  src/music_attribution/voice/tools.py
  tests/unit/voice/__init__.py
  tests/unit/voice/conftest.py
  tests/unit/voice/test_config.py
  tests/unit/voice/test_module_structure.py
Due: ruff, ruff-format, mypy

feat(voice): add Makefile targets for voice agent development
  Makefile
Due: none

test(voice): add 44 tests for persona, drift, pipeline, tools, server
  tests/unit/voice/test_drift.py
  tests/unit/voice/test_persona.py
  tests/unit/voice/test_pipeline.py
  tests/unit/voice/test_server.py
  tests/unit/voice/test_tools.py
Due: ruff, ruff-format, mypy

chore: update TDD state — 9 tasks DONE, 69 voice tests
  docs/planning/voice-agent-and-personalization-plan.xml
  state/tdd-state.json
Due: none

feat(voice): implement Pipecat pipeline factory, tool bridge, WebSocket server
  src/music_attribution/voice/drift.py
  src/music_attribution/voice/pipeline.py
  src/music_attribution/voice/server.py
  src/music_attribution/voice/tools.py
  tests/unit/voice/test_drift.py
  tests/unit/voice/test_persona.py
  tests/unit/voice/test_pipeline.py
  tests/unit/voice/test_server.py
  tests/unit/voice/test_tools.py
Due: ruff, ruff-format, mypy

chore: update TDD state — 15 tasks DONE, 109 voice tests
  state/tdd-state.json
Due: none

feat(voice): add demo script, Letta, Mem0, and NeMo Guardrails integrations
  scripts/voice_demo.py
  src/music_attribution/voice/guardrails/__init__.py
  src/music_attribution/voice/guardrails/config.yml
  src/music_attribution/voice/guardrails/rails.co
  src/music_attribution/voice/guardrails_integration.py
  src/music_attribution/voice/letta_integration.py
  src/music_attribution/voice/mem0_integration.py
  tests/unit/voice/test_demo_script.py
  tests/unit/voice/test_guardrails.py
  tests/unit/voice/test_letta_integration.py
  tests/unit/voice/test_mem0_integration.py
Due: ruff, ruff-format, mypy

feat(voice): add DeepEval persona fidelity test suite with conversation traces
  tests/eval/__init__.py
  tests/eval/voice/__init__.py
  tests/eval/voice/conftest.py
  tests/eval/voice/conversation_traces.py
  tests/eval/voice/test_persona_fidelity.py
Due: ruff, ruff-format, mypy

chore: update TDD state — 20 tasks DONE, 622 tests passing
  state/tdd-state.json
Due: none

docs(voice): add implementation guide, component alternatives, and README voice section
  README.md
  docs/knowledge-base/voice-agent-component-alternatives.md
Due: none

chore: update TDD state — 23 tasks DONE, docs phase complete
  state/tdd-state.json
Due: none

feat(frontend): add voice components — VoiceButton, AudioVisualizer, WebSocket client
  frontend/src/components/voice/AudioVisualizer.tsx
  frontend/src/components/voice/VoiceButton.tsx
  frontend/src/components/voice/__tests__/AudioVisualizer.test.tsx
  frontend/src/components/voice/__tests__/VoiceButton.test.tsx
  frontend/src/components/voice/__tests__/voice-client.test.ts
  frontend/src/lib/stores/voice.ts
  frontend/src/lib/voice/client.ts
Due: css-token-lint

chore: update TDD state — ALL 27 tasks DONE, convergence reached
  state/tdd-state.json
Due: none

docs(voice): rewrite implementation guide as hands-on tutorial (v2.0.0)
  docs/tutorials/voice-agent-implementation.md
Due: none

fix(frontend): address 6 CRITICAL review findings in voice components
  frontend/src/components/pro/voice-agent-banner.tsx
  frontend/src/components/voice/AudioVisualizer.tsx
  frontend/src/components/voice/VoiceButton.tsx
  frontend/src/lib/voice/client.ts
Due: css-token-lint

fix: address CRITICAL findings from multi-agent code review
  .env.example
  Makefile
  README.md
  docs/tutorials/voice-agent-implementation.md
  scripts/voice_demo.py
  src/music_attribution/voice/config.py
  src/music_attribution/voice/drift.py
  src/music_attribution/voice/letta_integration.py
  src/music_attribution/voice/pipeline.py
  src/music_attribution/voice/server.py
  src/music_attribution/voice/tools.py
  tests/unit/voice/test_letta_integration.py
  tests/unit/voice/test_module_structure.py
  tests/unit/voice/test_pipeline.py
  tests/unit/voice/test_tools.py
Due: ruff, ruff-format, mypy

test: add missing coverage for CRITICAL review gaps
  frontend/src/components/voice/__tests__/voice-client.test.ts
  tests/unit/voice/test_tools.py
Due: ruff, ruff-format, mypy, css-token-lint

fix: enforce AST-only rule in test_demo_script.py, document failure
  .claude/CLAUDE.md
  .claude/rules/01-code-analysis-ban.md
  CLAUDE.md
  tests/unit/voice/test_demo_script.py
Due: ruff, ruff-format, mypy

docs: add voice MVP hardening plan with 29 GitHub issues mapped
  docs/planning/voice-mvp-hardening-plan.xml
Due: none

docs(figures): add 16 figure plans for voice implementation architecture (fig-voice-33 to 48)
  docs/figures/repo-figures/figure-plans/fig-voice-33-voice-module-file-map.md
  docs/figures/repo-figures/figure-plans/fig-voice-34-voiceconfig-anatomy.md
  docs/figures/repo-figures/figure-plans/fig-voice-35-pipeline-assembly-flowchart.md
  docs/figures/repo-figures/figure-plans/fig-voice-36-persona-dimension-layers.md
  docs/figures/repo-figures/figure-plans/fig-voice-37-ewma-drift-state-machine.md
  docs/figures/repo-figures/figure-plans/fig-voice-38-tool-bridge-architecture.md
  docs/figures/repo-figures/figure-plans/fig-voice-39-server-lifecycle-connection.md
  docs/figures/repo-figures/figure-plans/fig-voice-40-guardrails-architecture.md
  docs/figures/repo-figures/figure-plans/fig-voice-41-memory-integration-letta-mem0.md
  docs/figures/repo-figures/figure-plans/fig-voice-42-protocol-component-swapping.md
  docs/figures/repo-figures/figure-plans/fig-voice-43-frontend-voice-components.md
  docs/figures/repo-figures/figure-plans/fig-voice-44-conditional-import-pattern.md
  docs/figures/repo-figures/figure-plans/fig-voice-45-end-to-end-voice-turn.md
  docs/figures/repo-figures/figure-plans/fig-voice-46-test-architecture-map.md
  docs/figures/repo-figures/figure-plans/fig-voice-47-evaluation-metrics-traces.md
  docs/figures/repo-figures/figure-plans/fig-voice-48-extension-points-plugins.md
  docs/planning/voice-implementation-figures-plan.xml
Due: none

docs(figures): add 16 voice implementation JPEGs and update alt-text catalog
  docs/figures/repo-figures/assets/fig-voice-33-voice-module-file-map.jpg
  docs/figures/repo-figures/assets/fig-voice-34-voiceconfig-anatomy.jpg
  docs/figures/repo-figures/assets/fig-voice-35-pipeline-assembly-flowchart.jpg
  docs/figures/repo-figures/assets/fig-voice-36-persona-dimension-layers.jpg
  docs/figures/repo-figures/assets/fig-voice-37-ewma-drift-state-machine.jpg
  docs/figures/repo-figures/assets/fig-voice-38-tool-bridge-architecture.jpg
  docs/figures/repo-figures/assets/fig-voice-39-server-lifecycle-connection.jpg
  docs/figures/repo-figures/assets/fig-voice-40-guardrails-architecture.jpg
  docs/figures/repo-figures/assets/fig-voice-41-memory-integration-letta-mem0.jpg
  docs/figures/repo-figures/assets/fig-voice-42-protocol-component-swapping.jpg
  docs/figures/repo-figures/assets/fig-voice-43-frontend-voice-components.jpg
  docs/figures/repo-figures/assets/fig-voice-44-conditional-import-pattern.jpg
  docs/figures/repo-figures/assets/fig-voice-45-end-to-end-voice-turn.jpg
  docs/figures/repo-figures/assets/fig-voice-46-test-architecture-map.jpg
  docs/figures/repo-figures/assets/fig-voice-47-evaluation-metrics-traces.jpg
  docs/figures/repo-figures/assets/fig-voice-48-extension-points-plugins.jpg
  docs/figures/repo-figures/figure-alt-text-catalog.md
Due: none

docs(voice): embed 16 implementation figures in tutorial and update README
  README.md
  docs/tutorials/voice-agent-implementation.md
Due: none
